<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Zenfolio.Examples.Uploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Zenfolio.Examples.Uploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
  <add key="Zenfolio.Uploader.ZfApiRef.ZfApi" value="http://www.zenfolio.com/api/1.6/zfapi.asmx"/>
   <add key="serilog:minimum-level" value="Information" />
   <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
   <add key="serilog:write-to:Console" />
   <add key="serilog:using:File" value="Serilog.Sinks.File" />
   <add key="serilog:write-to:File.path" value="logs\log_.txt" />
   <add key="serilog:write-to:File.fileSizeLimitBytes" />
   <add key="serilog:write-to:File.rollingInterval" value="Day" />
 </appSettings>
 <applicationSettings>
  <Zenfolio.Examples.Uploader.Properties.Settings>
   <setting name="Zenfolio_Uploader_ZfApiRef_ZfApi" serializeAs="String">
    <value>http://api.zenfolio.com/api/1.7/zfapi.asmx</value>
   </setting>
   <setting name="ImageFolderPath" serializeAs="String">
    <value>C:\temp\gungho_e3</value>
   </setting>
   <setting name="ZenfolioUserName" serializeAs="String">
    <value>contact@enchantedpix.com</value>
   </setting>
   <setting name="ZenfolioPassword" serializeAs="String">
    <value>Ph0t0graphy!</value>
   </setting>
   <setting name="ZenfolioGalleryID" serializeAs="String">
    <value />
   </setting>
  </Zenfolio.Examples.Uploader.Properties.Settings>
 </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
  <Zenfolio.Examples.Uploader.Properties.Settings>
   <setting name="WaitTimeInSec" serializeAs="String">
    <value>5</value>
   </setting>
  </Zenfolio.Examples.Uploader.Properties.Settings>
 </userSettings>
</configuration>
